chronos:
  #image:
  #tags:
  before_script:
    - git submodule sync --recursive
    - git submodule update --init --recursive
  script: 
    - cd code
    - bundle install
    - bundle exec ruby ../script.rb
  only:
    - schedules
